# Programming in Python

## I. Exploring Jupyter Notebook

### 1. Main funcionalities

#### 1.1. print function and variables

In [ ]:
# string
first_name: str = "Fouad"
Name = "Khaled"
last_name: str = "Menaceur"
my_food: str = "pizza"
food = "Pasta"

In [ ]:
print(first_name)

In [ ]:
print(last_name)

In [ ]:
print(my_food)

In [ ]:
email: str = "f_menaceur@essaia.dz"

In [ ]:
print(email)

In [ ]:
print(first_name + last_name)

In [ ]:
print(first_name + " " + last_name)

In [ ]:
print("My favourite food is" + " " + my_food)

In [ ]:
print("Please contact me at" + " : " + email)

In [ ]:
print(first_name * 3)

In [ ]:
print(first_name * 3)

In [ ]:
# int
age: int = 20
quantity: int = 3
num_of_students = 100

In [ ]:
print(age)

In [ ]:
print(quantity)

In [ ]:
print(num_of_students)

In [ ]:
print(age + quantity)

In [ ]:
x = (age + quantity)

In [ ]:
print(x)

In [ ]:
y = (age * quantity)
print(y)

In [ ]:
z = (age / quantity)
print(z)

In [ ]:
a = (age // quantity)
print(a)

In [ ]:
b = (age ** quantity)
print(b)

In [ ]:
# float
pi = 3.14

In [ ]:
# bool

is_student: bool = False
for_sale = True
is_online = True

In [ ]:
print("Hello" + " " + first_name + " " + last_name)

In [ ]:
print(f'Hello {first_name} {last_name}')

In [ ]:
print(f'Hi I am {last_name} {first_name}')

In [ ]:
print(f'I like {food} !')

In [ ]:
print(f'I am {age} years old')

In [ ]:
print(f'I am buying {quantity} pizzas')
print(f'There are {num_of_students} students in the class')
print(f'The value of pi is {pi}')

In [ ]:
print(f'Is the person a student? {is_student}')

In [ ]:
print(f'is this item for sale? {for_sale}')

In [ ]:
if is_student:
    
    print(f'{first_name} is a student')
else:
    print(f'{first_name} is not a student')

In [ ]:
if for_sale:
    print('Item is for sale')
else:
    print('Item is not for sale')

In [ ]:
if is_online:
    print('User is online')
else:
    print('User is offline')

In [ ]:
Nom = "Menaceur"
Occupation = "Enseignant"
Age = 38
Salaire = 1050.26

In [ ]:
print(Age)

In [ ]:
print(Nom)

In [ ]:
print(Occupation)

In [ ]:
print(Nom + Occupation)

In [ ]:
print(Nom + " " + Occupation)

In [ ]:
print(Nom + "," + Occupation)

In [ ]:
print(Nom + "," + " " + Occupation)

In [ ]:
print(Nom + " " + "Age" + " " + Occupation)

### Petite révision

In [ ]:
name: str = "Fouad"
age: int = 38
is_student: bool = False
Salaire: float = 1005.89

In [ ]:
print(type(name))

In [ ]:
print(type(age))

In [ ]:
print(type(is_student))

In [ ]:
print(type(Salaire))

In [ ]:
# type cast age to float

print(float(age))

In [ ]:
# convert age to float

age = float(age)
print(age)

In [ ]:
# convert Salaire to int

Salaire = int(Salaire)
print(Salaire)

In [ ]:
# type cast Salaire to int
print(int(Salaire))

# User input

In [ ]:
name = input("what is your name? ")
age = int(input("what is your age? "))

In [ ]:
print(f'Hello {name}!')
print(f'You are {age} years old.')

In [ ]:
#Superficie
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
area = float((length) * (width))
print(f'The area of the rectangle is {area}cm2.')

In [ ]:
#Shopping
item = input("what would you like to buy? ")
price = float(input("what is the price of the item? "))
quantity = int(input("how many would you like to buy? "))
total = price * quantity
print(f'The total cost is {total:.2f} Dinars.')

In [ ]:
import math

pi = math.pi

print(pi)

In [ ]:
print(math.sqrt(16))

In [ ]:
print(math.pow(2, 3))

In [ ]:
print(math.ceil(0.9))

In [ ]:
print(math.ceil(4.1))

In [ ]:
print(math.e)

In [ ]:
# circle

radius = float(input("Enter the radius of the circle: "))

circumference = 2 * math.pi * radius

print(f"The circumference of the circle is {circumference}")

area = math.pi * math.pow(radius, 2)

print(f"The area of the circle is {area}")

# triangle

a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))

c = a**2 + b**2
print(f"The length of side c is {math.sqrt(c)}")

# Decalring variables

In [ ]:
first_name = "Fouad"

In [ ]:
print(first_name)

In [ ]:
# Variables in Python

first_name = "Fouad"
last_name = "Menaceur"
country = "Algeria"
city = "Algiers"
age = 38
Height = 1.82
is_a_student = False

In [ ]:
print(first_name)
print(last_name)
print(country)
print(city)
print(age)
print(Height)
print(is_a_student)

In [ ]:
print(first_name + " " + last_name)

In [ ]:
print(first_name * 3)

In [ ]:
print(Height * 3)

In [ ]:
personal_info = {
    'Prénom':'Ali', 
    'Nom':'Menaceur', 
    'Pays':'Algérie',
    'Ville':'Oran'
    }

In [ ]:
#Pro info: Ecole, Année, Spécialité, Sport 
pro_info =

In [ ]:
print(personal_info)

In [ ]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_a_student)
print('Person information: ', person_info)

In [ ]:
# Declaring multiple variables in one line

first_name, last_name, country, age, is_a_student = '', '', '', , 

print(first_name, last_name, country, age, is_a_student)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_a_student)

# Operators

In [ ]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)
print('Multiplication: ', 2 * 3)
print ('Division: ', 4 / 2)                         # Division in python gives floating number
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)
print('Division without the remainder: ', 7 // 2)   # gives without the floating number or without the remaining
print('Modulus: ', 3 % 2)                           # Gives the remainder
print ('Division without the remainder: ', 7 // 3)
print('Exponential: ', 3 ** 2)                     # it means 3 * 3

# Floating numbers
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex number: ',(1 + 1j) * (1-1j))

# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function try to avoid overriding builtin functions
print(total) # if you don't label your print with some string, you never know from where is  the result is coming
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

# Declaring values and organizing them together
num_one = 3
num_two = 4

# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)


# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

# Boolean comparison
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

# Another way comparison 
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('F in Fouad', 'F' in 'Fouad') # True - F found in the string
print('B in Fouad', 'B' in 'Fouad') # False -there is no uppercase B
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statement is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False