# Collections :  Lists, Sets and Tuples

A Collection is a single "Variable" used to store multiple values. In a Collection items are put between quotes or double quotes and separated by commas. 
Collections include Lists, Sets, Tuples, Dictionnaries...

## 1. Lists

Lists [] are ordered and changeable collections. They allow Duplicates.

#### Examples

In [1]:
fruits = ["Banana", "Orange", "Apple", "Watermelon"]

In [ ]:
print(fruits)

TO DO : Print a list named vegetables containing : Tomato, Potato, Cabbage, Onion, Carrot

#### Printing statements before a list

In [ ]:
print('My favourite fruits are:', fruits)

TO DO : Print this statement before the list of vegetables: For vegetables I like:

In [ ]:
# In order to know the number of items within a list 
#we use the lenght statement (len)

In [ ]:
print(len(fruits))

TO DO : Print the lenght of your vegetable list

In [ ]:
# Indices are used to locate items within a list, 
# they start from 0 to n-1

In [ ]:
print(fruits[0])

TO DO : Print the fourth item on your vegetables list

In [ ]:
#### We can acces the last item using the index -1

In [ ]:
print(fruits[-1])

Acces the second to last item Within your vegetable list using the index -2

In [ ]:
# We can select an ordered sublist of items using a starting index and a finishing index separated by :
# The last index is excluded

In [ ]:
print(fruits[1:3])

Do the same with your vegetable list

In [ ]:
# We can select all the items by starting with index 0 and letting the finishing index blank :

In [ ]:
print(fruits[0:])

Do the same with your vegetable list

In [ ]:
#### We can select items starting from an index 
#and finishing by the last item (leaving it blank)

In [ ]:
print(fruits[1:-1])

Within your vegetable list, select all items starting from the the first to the third

In [ ]:
#### We can reverse the operation

In [ ]:
print(fruits[:3])

Do the same with vegetable list

In [ ]:
# We can modify an item at any index

In [ ]:
fruits[2] = "Avocado"
print(fruits)

Modify the last item on vegetables by Cucumbers

In [ ]:
# We can confirm the existence of an item within our list 
# using the does_exist statement

In [ ]:
does_exist = "Mango" in fruits
print(does_exist)

Is the item Sweet Potatoes included in vegetables list

In [ ]:
#### We can use the Append statement to add items at the end of a list

In [53]:
print(fruits)

['banana', 'orange', 'mango', 'lemon', 'orange', 'banana']

In [54]:
fruits.append("watermelon")

In [55]:
print(fruits)

['banana', 'orange', 'mango', 'lemon', 'orange', 'banana', 'watermelon']

Append "Garlic" in vegetables

In [ ]:
#### We can put a new item between two existing items using the Insert statement

In [58]:
fruits.insert(1, "Pear")
print(fruits)

['banana', 'Pear', 'Mango', 'Mango', 'orange', 'mango', 'lemon', 'orange', 'banana', 'watermelon']

Insert Pepper between Cabbage and Onion

In [ ]:
#### In order to remove an 
#item we use the remove statement

In [ ]:
print(fruits)

In [ ]:
fruits.remove("Banana")

In [ ]:
print(fruits)

In [ ]:
fruits.remove("Banane")

Remove Cabbage from vegetables

In [ ]:
#### The pop statement removes the last item from the list

In [59]:
print(fruits)

['banana', 'Pear', 'Mango', 'Mango', 'orange', 'mango', 'lemon', 'orange', 'banana', 'watermelon']

In [60]:
fruits.pop()

'watermelon'

In [61]:
print(fruits)

['banana', 'Pear', 'Mango', 'Mango', 'orange', 'mango', 'lemon', 'orange', 'banana']

Remove the last item from vegetables

In [ ]:
#### We can remove a specific item using the pop statement and an index

In [62]:
fruits.pop(1)

'Pear'

In [63]:
print(fruits)

['banana', 'Mango', 'Mango', 'orange', 'mango', 'lemon', 'orange', 'banana']

Using the pop statement, remove the second item from vegetables

In [ ]:
#### Another way to remove an item is to use the del function

In [ ]:
print(fruits)

In [65]:
del fruits[3]

In [66]:
print(fruits)

['banana', 'Mango', 'Mango', 'mango', 'lemon', 'orange', 'banana']

Using the del function, remove the third item from vegetables

In [ ]:
#### To delete all items from a list, we can use the clear function

In [ ]:
print(fruits)

In [ ]:
fruits.clear()

In [ ]:
print(fruits)

Delete all items from vegetables

In [ ]:
#### The copy function creates a copy of a list

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']

In [ ]:
print(fruits)

In [ ]:
DÃ©lices = fruits.copy()

In [ ]:
print(DÃ©lices)

In [ ]:
#### We can join multiple list to create a list using the join function via a + sign

In [68]:
positive_numbers = [1, 2, 3,4,5]
zero = [0]
negative_numbers = [-5,-4,-3,-2,-1]
integers = negative_numbers + positive_numbers + zero
print(integers)

[-5, -4, -3, -2, -1, 1, 2, 3, 4, 5, 0]

Join the fruits and vegetables lists plus a list for your favourite food items

In [ ]:
#### Another way of joining two or more lists is to use the extend function

In [69]:
num1 = [0, 1, 2, 3]
num2= [4, 5, 6]
num1.extend(num2)
print(num1)
print(num2)

[0, 1, 2, 3, 4, 5, 6]
[4, 5, 6]

Use the extend function to combine both fruits and vegetables lists

In [ ]:
#### Here is another example of joining lists using the extend function

In [ ]:
negative_numbers = [-5,-4,-3,-2,-1]
positive_numbers = [1, 2, 3,4,5]
zero = [0]
negative_numbers.extend(zero)
negative_numbers.extend(positive_numbers)
print('Integers:', negative_numbers)

In [ ]:
#### We use the count function to determine the number of instances of a given item

In [ ]:
print(fruits)

In [ ]:
print(fruits.count("mango"))

Create a new list named heights including the following items: 1.82, 1.64, 1.80, 1.70, 1.80, 1.45, 1.74, 1.80

In [70]:
Heights = [1.82, 1.64, 1.80, 1.70, 1.80, 1.45, 1.74, 1.80]
print(Heights)

[1.82, 1.64, 1.8, 1.7, 1.8, 1.45, 1.74, 1.8]

In [71]:
print(Heights.count(1.80))

3

Print the count of 1.80

In [ ]:
#### We can determine the index of a given item within our list:

In [ ]:
print(fruits)

print(fruits.index("mango"))

For the ealier list of hights, locate the item 1.45

In [ ]:
#### We can reverse the order of items of a list using the reverse function

In [ ]:
Heights = [1.82, 1.64, 1.80, 1.70, 1.80, 1.45, 1.74, 1.80]

In [ ]:
print(Heights)

In [72]:
Heights.reverse()

In [73]:
print(Heights)

[1.8, 1.74, 1.45, 1.8, 1.7, 1.8, 1.64, 1.82]

Reverse the items within the list of heights

In [ ]:
#### We can also reverse the order of items using the sort function combined with a reverse boolean

In [ ]:
ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

In [ ]:
ages.sort(reverse=True)
print(ages)

## 2. Sets

Sets {} are unordered and immutable Collections while adding and removing items are permitted. They do not allow Duplicates

In [ ]:
#### For creating a Set We use the set() built-in function.

In [ ]:
#### Creating an empty set

st = set()
print(st)

In [ ]:
#### Creating a set with initial items

In [74]:
st = {"item1", "item2", "item3", "item4"}
print(st)

{'item1', 'item3', 'item4', 'item2'}

In [75]:
cars = {'Audi', 'Toyota', 'Ford', 'Renault', 'Mercedes-Benz'}
print(cars)
print(len(cars))

{'Mercedes-Benz', 'Ford', 'Toyota', 'Audi', 'Renault'}
5

In [ ]:
# Sets are unordered which means eveytime we print them they can give different orders of items

In [ ]:
print(cars)

In [ ]:
#### Getting Set's Length
#### We use **len()** method to find the length of a set.

In [ ]:
st = {'item1', 'item2', 'item3', 'item4'}
print(len(st))

Give the number of items in the cars list

In [ ]:
#### Accessing Items in a Set
#### We use loops to access items. We will see this in loop section

In [ ]:
### Checking an Item
#### To check if an item exists in a set we use _in_ membership operator.

In [77]:
cars = {'Audi', 'Toyota', 'Ford', 'Renault', 'Mercedes-Benz'}
print('Peugeot' in cars) # Does the set cars contain Ford? True

False

In [ ]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
print('avocado' in fruits ) # True

In [ ]:
# Adding Items to a Set
# Once a set is created we cannot change any items and but we can also add additional items via the add function

In [78]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.add('lime')

In [79]:
print(fruits)

{'mango', 'lime', 'banana', 'orange', 'lemon'}

In [ ]:
# We can add multiple items using _update()_
# The _update()_ allows to add multiple items to a set. The _update()_ takes a list argument.

In [82]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
fruits.update(vegetables)
produce = fruits + vegetables
print(produce)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [81]:
print(fruits)
print(vegetables)

{'mango', 'banana', 'potato', 'orange', 'carrot', 'cabbage', 'onion', 'tomato', 'lemon'}
{'potato', 'carrot', 'cabbage', 'onion', 'tomato'}

In [ ]:
# Removing Items from a Set
# We can remove an item from a set using _remove()_ method. 
# If the item is not found _remove()_ method will raise errors, so it is good to check if the item exist in the given set. 
# However, _discard()_ method doesn't raise any errors.

In [83]:
st = {'item1', 'item2', 'item3', 'item4'}
st.remove('item2')

In [84]:
print(st)

{'item1', 'item3', 'item4'}

In [ ]:
# The pop() methods remove a random item from a list and it returns the removed item.

In [86]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.pop()

'mango'

In [ ]:
# If we are interested in the removed item.

In [ ]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
removed_item = fruits.pop() 
print(removed_item)

In [ ]:
# If we want to clear or empty the set we use _clear_ method.

In [87]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.clear()
print(fruits) # set()

set()

In [ ]:
# Deleting a Set
# If we want to delete the set itself we use _del_ operator.

In [90]:
fruits = {'banana', 'orange', 'mango', 'lemon'}

In [ ]:
del fruits

In [91]:
print(fruits)

{'mango', 'orange', 'lemon', 'banana'}

In [ ]:
# Converting List to Set
# We can convert list to set and set to list. Converting list to set removes duplicates and only unique items will be reserved.

In [92]:
fruits = ['banana', 'orange', 'mango', 'lemon','orange', 'banana']
st = set(fruits)

In [93]:
print(st)

{'orange', 'mango', 'banana', 'lemon'}

In [ ]:
# Joining Sets
# We can join two sets using the _union()_ or _update()_ method.

In [ ]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
print(fruits.union(vegetables))

In [ ]:
# Update : This method inserts a set into a given set

In [ ]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
fruits.update(vegetables)
print(fruits) # {'lemon', 'carrot', 'tomato', 'banana', 'mango', 'orange', 'cabbage', 'potato', 'onion'}

In [ ]:
# Finding Intersection Items
# Intersection returns a set of items which are in both the sets. See the example

In [ ]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.intersection(even_numbers)

In [ ]:
python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.intersection(dragon)

In [ ]:
# Checking Subset and Super Set
# A set can be a subset or super set of other sets:
#         - Subset: _issubset()_
#         - Super set: _issuperset_

In [ ]:
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
st2.issubset(st1) # True
st1.issuperset(st2) # True


**Example:**


whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.issubset(even_numbers) # False, because it is a super set
whole_numbers.issuperset(even_numbers) # True

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.issubset(dragon)     # False


### Checking the Difference Between Two Sets

It returns the difference between two sets.



st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
st2.difference(st1) # set()
st1.difference(st2) # {'item1', 'item4'} => st1\st2


**Example:**


whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.difference(even_numbers) # {1, 3, 5, 7, 9}

python = {'p', 'y', 't', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.difference(dragon)     # {'p', 'y', 't'}  - the result is unordered (characteristic of sets)
dragon.difference(python)     # {'d', 'r', 'a', 'g'}


### Finding Symmetric Difference Between Two Sets

It returns the symmetric difference between two sets. It means that it returns a set that contains all items from both sets, except items that are present in both sets, mathematically: (A\B) âˆª (B\A)



st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
# it means (A\B)âˆª(B\A)
st2.symmetric_difference(st1) # {'item1', 'item4'}


**Example:**


whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
some_numbers = {1, 2, 3, 4, 5}
whole_numbers.symmetric_difference(some_numbers) # {0, 6, 7, 8, 9, 10}

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.symmetric_difference(dragon)  # {'r', 't', 'p', 'y', 'g', 'a', 'd', 'h'}


### Joining Sets

If two sets do not have a common item or items we call them disjoint sets. We can check if two sets are joint or disjoint using _isdisjoint()_ method.



st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
st2.isdisjoint(st1) # False


**Example:**


even_numbers = {0, 2, 4 ,6, 8}
odd_numbers = {1, 3, 5, 7, 9}
even_numbers.isdisjoint(odd_numbers) # True, because no common item

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.isdisjoint(dragon)  # False, there are common items {'o', 'n'}

## ðŸ’» Exercises: Day 7


# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


### Exercises: Level 1

1. Find the length of the set it_companies
2. Add 'Twitter' to it_companies
3. Insert multiple IT companies at once to the set it_companies
4. Remove one of the companies from the set it_companies
5. What is the difference between remove and discard

### Exercises: Level 2

1. Join A and B
1. Find A intersection B
1. Is A subset of B
1. Are A and B disjoint sets
1. Join A with B and B with A
1. What is the symmetric difference between A and B
1. Delete the sets completely

### Exercises: Level 3

1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
1. Explain the difference between the following data types: string, list, tuple and set
2. _I am a teacher and I love to inspire and teach people._ How many unique words have been used in the sentence? Use the split methods and set to get the unique words.